
.container {
  background-color: #0071bf;
  overflow: hidden;
}

li {
	display: inline
}

.nav-item a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica;
}

.nav-item a.active {
  float: left;
  color: #4CAF50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Helvetica;
}

.nav-link a:hover {
  background-color: #ddd;
  color: black;
}

